{{> themes/Cloth/front-menu}}
<div class="productsWrapper col s12 ">
    {{#if filtered}}
    <div class="product-layout col s12">
        {{#if menuLink}}
        <h4>دسته بندی: <strong>{{menuLink.title}}</strong></h4>
        {{else}}
        <h4>نتیجه جستجو: <strong>{{searchTerm}}</strong></h4>
        {{/if}}
    </div>
    {{/if}}
    <div class="row product-layout">
        <div class="container">
            {{#ifCond results.length '==' 0}}
            <div class="col s12">
                <p class="text-danger">کالا یافت نشد</p>
            </div>
            {{/ifCond}}
            {{#each results}}
            <div class="col s12 m4 l{{../config.productsPerRow}} item">
                <div class="center">
                    {{#if productPermalink}}
                    <a href="/product/{{this.productPermalink}}">
                        {{else}}
                        <a href="/product/{{this._id}}">
                            {{/if}}
                            {{#if productImage}}
                            <img class="responsive-img product_tumb" src="{{this.productImage}}"
                                alt="{{this.productTitle}}">
                            {{else}}
                            <img class="responsive-img product_tumb" src="/uploads/placeholder.png"
                                alt="{{this.productTitle}}">
                            {{/if}}
                            <h6> {{this.productTitle}} </h6>
                            <span class="grey-text"> {{productPrice}} {{currencySymbol ../config.currencySymbol}}
                            </span>
                        </a>
                </div>

                <!--<p class="text-center">
                <a class="btn btn-primary add-to-cart" data-id="{{this._id}}" data-link="{{this.productPermalink}}"
                    data-has-options="{{checkProductOptions this.productOptions}}" role="button">افزودن به سبد </a>
            </p>-->
            </div>
            {{/each}}
        </div>
    </div>
</div>
<input type="hidden" id="productsPerPage" value="{{productsPerPage}}">
<input type="hidden" id="pageNum" value="{{pageNum}}">
<input type="hidden" id="totalProductCount" value="{{totalProductCount}}">
<input type="hidden" id="paginateUrl" value="{{paginateUrl}}">
<input type="hidden" id="searchTerm" value="{{searchTerm}}">
<div class="col s12">
    <div id="pager" class="text-center"></div>
</div>