<!--{{> themes/Cloth/front-menu}}-->
<div class="product-layout row white">
    <div class="container">
        <div class="col s12 l6 left">
            <h3 class="product-title-inner">{{result.productTitle}}</h3>
            <span class="product-price-inner">{{result.productPrice}} {{currencySymbol config.currencySymbol}}</span>
            {{#if productOptions}}
            <div class="col-md-10">
                {{#each productOptions}}
                {{#ifCond this.optType '==' "select"}}
                <strong>{{this.optName}}</strong>
                <select name="opt-{{this.optName}}" class="form-control product-opt">
                    {{#each this.optOptions}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
                {{/ifCond}}
                {{#ifCond this.optType '==' "radio"}}
                {{#each this.optOptions}}
                <strong>{{this.optName}}</strong>
                <div class="radio">
                    <label>
                        <input type="radio" class="product-opt" name="opt-{{../this.optName}}" value="{{this}}">
                        {{this}}
                    </label>
                </div>
                {{/each}}
                {{/ifCond}}
                {{#ifCond this.optType '==' "checkbox"}}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="product-opt" name="opt-{{../this.optName}}"
                            value="{{this.optName}}"><strong>{{this.optName}}</strong>
                    </label>
                </div>
                {{/ifCond}}
                {{/each}}
            </div>
            {{/if}}
            {{#if config.trackStock}}
            {{#ifCond result.productStock '==' 0}}
            <div class="col-md-10">
                <h4 class="text-danger text-center">
                    در انبار موجود نمیباشد
                </h4>
            </div>
            {{/ifCond}}
            {{/if}}
            <div class="input-field productOptions">
                <button class="btn-flat qty-btn-minus" type="button"><i class="material-icons">expand_less</i></button>
                <input type="text" class="add-color" id="product_quantity" maxlength="3" value="1">
                <button class="btn-flat qty-btn-plus" type="button"><i class="material-icons">expand_more</i></button>
            </div>
            {{#if result.productComment}}
            <!--<div class="col-md-5">
                افزودن نظر
                <textarea class="form-control" id="product_comment"></textarea>
            </div>-->
            {{/if}}
            <button class="btn-large green product-add-to-cart"><i
                    class="material-icons right">add_shopping_cart</i>افرودن به سبد</button>
        </div>
        <div class="col s12 l6 right">
            {{#ifCond images.length '>' 1}}
            <div class="swiper-container gallery-top">
                <div class="swiper-wrapper">
                    {{#each images}}
                    <div class="swiper-slide" style="background-image:url({{this.path}})">
                    </div>
                    {{/each}}

                </div>
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
            <div class="swiper-container gallery-thumbs">
                <div class="swiper-wrapper">
                    {{#each images}}
                    <div class="swiper-slide" style="background-image:url({{this.path}})">
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/ifCond}}
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        {{#ifCond productDescription '!=' "undefined"}}
        <div class="col s12 body_text">
            <h5>توضیحات محصول</h5>
            {{{productDescription}}}
        </div>
        {{/ifCond}}
    </div>
</div>

<input type="hidden" id="productId" value="{{result._id}}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<script>
    $(document).ready(function () {
        var galleryThumbs = new Swiper('.gallery-thumbs', {
            spaceBetween: 10,
            slidesPerView: 4,
            loop: true,
            freeMode: true,
            loopedSlides: 5, //looped slides should be the same
            watchSlidesVisibility: true,
            watchSlidesProgress: true,
        });
        var galleryTop = new Swiper('.gallery-top', {
            spaceBetween: 10,
            loop: true,
            loopedSlides: 5, //looped slides should be the same
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            thumbs: {
                swiper: galleryThumbs,
            },
        });
        $('.materialboxed').materialbox();
    });
</script>