<div class="row">
    <div class="col s12">
        <form method="post" id="insert_form" action="/admin/product/insert" data-toggle="validator">
            <div class="page-header">
                <h2>کالای جدید
                    <button id="frm_edit_product_save" class="btn green left" type="submit">افزودن کالا <i
                            class="fa fa-plus"></i></button>
                </h2>
            </div>
            <div class="input-field col s12">
                <label for="frmProductTitle">عنوان کالا *</label>
                <input type="text" id="frmProductTitle" name="frmProductTitle" minlength="5" maxlength="200"
                    value="{{productTitle}}" required />
            </div>
            <div class="input-field col s12">
                <label for="frmProductPrice">قیمت کالا * «ریال»</label>
                <input type="number" name="frmProductPrice" step="any" value="{{productPrice}}" required />
            </div>
            <div class="input-field col s12">
                <select name="frmProductPublished">
                    <option value="true" selected>منتشر شده</option>
                    <option value="false">چرکنویس</option>
                </select>
                <label>وضعیت</label>
            </div>
            {{#if config.trackStock}}
            <div class="input-field col s12">
                <label for="frmProductStock">سطح انبار</label>
                <input type="number" name="frmProductStock" value="{{productStock}}" step="any" />
            </div>
            {{/if}}
            <div class="input-field col s12">
                <label for="frmProductTags">برچسب های کالا</label>
                <input type="text" id="frmProductTags" name="frmProductTags">
            </div>
            <div class="input-field col s12">
                <p>
                    <label>
                        <input type="checkbox" class="filled-in" checked="checked" id="frmProductComment"
                            name="frmProductComment" />
                        <span>قابلیت نظر دهی به کالا</span>
                    </label>
                </p>
            </div>
            <div class="input-field col s12" id="editor-wrapper">
                <p><label for="editor">توضیحات کالا *</label></p>
                <div id="editor" name="frmProductDescription">{{productDescription}}
                </div>
            </div>
            <div class="input-field col s12">
                <label for="frmProductPermalink">لینک همیشگی</label>
                <input type="text" name="frmProductPermalink" id="frmProductPermalink" value={{productPermalink}}>
                <button class="btn btn-success" id="validate_permalink" type="button">صحت لینک</button>
                <p class="help-block">ایجاد یک لینک خوانا برای کالا</p>
            </div>

            <div class="input-field col s12">
                <h4>افزودن خصوصیات بیشتر</h4>
                <input type="hidden" id="productOptJson" name="productOptJson" value="{{result.productOptions}}" />
                <ul class="list-group" id="product_opt_wrapper">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="input-field col s12">
                                <label>نام:</label>
                                <input type="text" id="product_optName" class="form-control" placeholder="سایز" />
                            </div>
                            <div class="input-field col s12">
                                <label>برچسب:</label>
                                <input type="text" id="product_optLabel" class="form-control"
                                    placeholder="انتخاب سایز" />
                            </div>
                            <div class="input-field col s12">
                                <label>نوع:</label>
                                <select id="product_optType" class="form-control">
                                    <option value="select">Select</option>
                                    <option value="radio">Radio</option>
                                    <option value="checkbox">Checkbox</option>
                                </select>
                            </div>
                            <div class="input-field col s12">
                                <label>گزینه ها:</label>
                                <input type="text" id="product_optOptions" class="form-control"
                                    placeholder="یک ، لیست ، که ، با کاما ، جدا میشوند" />
                            </div>
                            <div class="col-lg-2 text-right"></br>
                                <button id="product_opt_add" class="btn btn-success">افزودن</button>
                            </div>
                        </div>
                    </li>
                    {{#each options}}
                    <li class="list-group-item">
                        <div class="row">
                            <div class='col-lg-2 opt-name'>{{this.optName}}</div>
                            <div class='col-lg-2'>{{this.optLabel}}</div>
                            <div class='col-lg-2'>{{this.optType}}</div>
                            <div class='col-lg-4'>{{{this.optOptions}}}</div>
                            <div class='col-lg-2 text-right'>
                                <button class='product_opt_remove btn btn-danger btn-sm'>حذف</button>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                <small>گزینه های کالا را در این قسمت میتوانید تنظیم کنید : رنگ ، سایز و ...</small>
            </div>

    </div>
</div>
</form>
{{> partials/menu}}


<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    $(document).ready(function () {
        $('select').formSelect();
        var quill = new Quill('#editor', {
            theme: 'snow'
        });
    });
</script>