<div class="col s12">
    <h2>کالاها</h2>
</div>
<div class="col s12 search_bar">
    <div class="row">
        <input type="text" name="product_filter" id="product_filter" class="col s12 m10 l11 right"
            placeholder="فیلتر کالاها">
        <button class="btn green right col s12 m2 l1" id="btn_product_filter">فیلتر</button>
    </div>
</div>
</div>
{{#if results}}
<div class="col l12">
    <ul class="list-group">
        <li class="list-group-item">
            <span class="pull-right"><strong>منتشر شده</strong></span>
            <strong> <span class="text-danger">جستجو شده با: {{searchTerm}} </span></strong>
        </li>
        {{#each results}}
        <li class="list-group-item">
            <h4 class="pull-right text-danger" style="padding-left: 10px;"><a class="text-danger"
                    href="/admin/product/delete/{{this._id}}"
                    onclick="return confirm('آیا از حذف کالا اطمینان دارید؟');"> <i class="fa fa-trash-o"></i></a></h4>
            <h4 class="pull-right"><input id="{{this._id}}" class="published_state" type="checkbox"
                    {{checkedState this.productPublished}}></h4>
            <h5><a href="/admin/product/edit/{{this._id}}">{{this.productTitle}}</a></h5>
        </li>
        {{/each}}
    </ul>
</div>
{{else}}
<div class="col l12">
    <div class="row">
        {{#each top_results}}
        <div class="card col s12 m6 l4">
            <div class="card-content">
                <h5>{{this.productTitle}}</h5>
                <span>{{this.productPrice}}</span>
            </div>
            <div class="card-action">
                <a href="/admin/product/edit/{{this._id}}">ویرایش</a>
                <a href="/admin/product/delete/{{this._id}}"
                    onclick="return confirm('آیا از حذف کالا اطمینان دارید؟');">
                    حذف
                </a>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{/if}}
{{> partials/menu}}