<div class="row">
    <div class="col s12">
        <form method="post" id="insert_form" action="/admin/product/update" data-toggle="validator">
            <div class="page-header">
                <h2>ویرایش کالا </h2>
            </div>
            <div class="input-field col s12">
                <label for="frmProductTitle">عنوان کالا *</label>
                <input type="text" id="frmProductTitle" name="frmProductTitle" minlength="5" maxlength="200"
                    value="{{result.productTitle}}" required />
            </div>
            <div class="input-field col s12">
                <label for="frmProductPrice">قیمت کالا * «ریال»</label>
                <input type="number" name="frmProductPrice" step="any" value="{{result.productPrice}}" required />
            </div>
            <div class="input-field col s12">
                <select name="frmProductPublished">
                    <option value="true" {{selectState result.productPublished "true"}}>منتشر شده</option>
                    <option value="false" {{selectState result.productPublished "false"}}>چرکنویس</option>
                </select>
                <label>وضعیت</label>
            </div>
            {{#if config.trackStock}}
            <div class="input-field col s12">
                <label for="frmProductStock">سطح انبار</label>
                <input type="number" name="frmProductStock" value="{{result.productStock}}" step="any" />
            </div>
            {{/if}}
            <div class="input-field col s12">
                <label for="frmProductTags">برچسب های کالا</label>
                <input type="text" id="frmProductTags" name="frmProductTags" value="{{result.productTags}}">
            </div>
            <div class="input-field col s12">
                <p>
                    <label>
                        <input type="checkbox" class="filled-in" checked="checked" id="frmProductComment"
                            {{checkedState result.productComment}} name="frmProductComment" /> <span>قابلیت نظر دهی به
                            کالا</span>
                    </label>
                </p>
            </div>
            <div class="input-field col s12" id="editor-wrapper">
                <p><label for="editor">توضیحات کالا *</label></p>
                <div id="editor" name="frmProductDescription">
                </div>
            </div>
            <div class="input-field col s12">
                <label for="frmProductPermalink">لینک همیشگی</label>
                <input type="text" name="frmProductPermalink" id="frmProductPermalink"
                    value={{result.productPermalink}}>
                <button class="btn green" id="validate_permalink" type="button">صحت لینک</button>
            </div>
            <!--div class="form-group col s12">
                <input type="hidden" id="productOptJson" name="productOptJson" value="{{result.productOptions}}" />
                <label for="editor" class="col-sm-2 control-label">تنظیمات فیلدهای اضافه کالا</label>
                <div class="col-lg-10">
                    <ul class="list-group" id="product_opt_wrapper">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-2">
                                    <strong>نام:</strong>
                                    <input type="text" id="product_optName" class="form-control" placeholder="سایز" />
                                </div>
                                <div class="col-lg-2">
                                    <strong>برچسب:</strong>
                                    <input type="text" id="product_optLabel" class="form-control"
                                        placeholder="انتخاب سایز" />
                                </div>
                                <div class="col-lg-2">
                                    <strong>نوع:</strong>
                                    <select id="product_optType" class="form-control">
                                        <option value="select">Select</option>
                                        <option value="radio">Radio</option>
                                        <option value="checkbox">Checkbox</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <strong>گزینه ها:</strong>
                                    <input type="text" id="product_optOptions" class="form-control"
                                        placeholder="یک ، لیست ، که ، با کاما ، جدا میشوند" />
                                </div>
                                <div class="col-lg-2 text-right"></br>
                                    <button id="product_opt_add" class="btn btn-success">افزودن</button>
                                </div>
                            </div>
                        </li>
                        {{#each options}}
                        <li class="list-group-item">
                            <div class="row">
                                <div class='col-lg-2 opt-name'>{{this.optName}}</div>
                                <div class='col-lg-2'>{{this.optLabel}}</div>
                                <div class='col-lg-2'>{{this.optType}}</div>
                                <div class='col-lg-4'>{{{this.optOptions}}}</div>
                                <div class='col-lg-2 text-right'>
                                    <button class='product_opt_remove btn btn-danger btn-sm'>حذف</button>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    <p class="help-block">گزینه های کالا را در این قسمت میتوانید تنظیم کنید : رنگ ، سایز و ...</p>
                </div>
            </div>-->
            <div id="product-images col s12">
                <h2>تصویر کالا
                    <button class="btn blue left modal-trigger" data-target="myModal">
                        افزودن تصویر
                        <i class="material-icons right">add</i>
                    </button>
                </h2>
                {{#if images}}
                <div class="row">
                    {{#each images}}
                    <div class="col s12 m6 l4">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{this.path}}" class="responsive-img">
                            </div>
                            <div class="card-action">
                                <a href="#" data-id="{{this.path}}">حذف</a>
                                {{#ifCond this.productImage '==' true}}
                                <span class="chip">تصویر اصلی</span>
                                {{else}}
                                <a href="#" data-id="{{this.path}}">تصویر اصلی شود</a>
                                {{/ifCond}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{else}}
                <h4 class="text-warning">تصویری برای کالا انتخاب نشده است </h4>
                {{/if}}
            </div>
            <div class="col s12">
                <div class="fixed-action-btn">
                    <button id="frm_edit_product_save" class="btn-floating btn-large red">
                        <i class="large material-icons">edit</i>
                    </button>
                </div>
            </div>
            <input type="hidden" name="frmProductId" id="frmProductId" value="{{result._id}}" />
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="myModal">
    <div class="modal-content">
        <form method="post" id="upload_form" name="upload_form" action="/admin/file/upload"
            enctype="multipart/form-data">
            <div class="modal-content">
                <h4>آپلود تصویر کالا</h4>
                <span class="btn-large btn-file">
                    انتخاب فایل<input type="file" name="upload_file" id="upload_file">
                </span>
                <input type="hidden" id="productId" name="productId" value="{{result._id}}" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn " data-dismiss="modal">انصراف</button>
                <button type="submit" id="saveButton" name="saveButton" class="btn btn-primary">آپلود</button>
            </div>
        </form>
    </div>
</div>
{{> partials/menu}}

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    $(document).ready(function () {
        $('select').formSelect();
        $('.modal').modal();
        var quill = new Quill('#editor', {
            theme: 'snow'
        });
        quill.clipboard.dangerouslyPasteHTML(0, "{{ result.productDescription }}");
        $("#insert_form").on("submit", function () {
            var hvalue = $('#editor').html();
            $(this).append("<textarea name='frmProductDescription' style='display:none'>" + hvalue + "</textarea>");
        });
    });
</script>