<div class="row">
	<div class="col s12">
		<h2>کاربران </h2>
		<div class="fixed-action-btn">
			<a href="/admin/user/new" class="btn-floating btn-large red">
				<i class="large material-icons">add</i>
			</a>
		</div>
	</div>
	<div class="col s12">
		<div class="row">
			{{#each users}}
			<div class="card col s12 m6 l4 right">
				<div class="card-content">
					<h4> {{this.usersName}}</h4>
					<strong>({{this.userEmail}})</strong>
					<span class="chip">نقش:
						{{#isAnAdmin this.isAdmin}}
						<b>مدیر</b>
						{{else}}
						<b>کاربر عادی</b>
						{{/isAnAdmin}}
						{{#isAnAdmin ../session.isAdmin}}
					</span>
					<a href="/admin/user/edit/{{this._id}}"><span class="glyphicon glyphicon-pencil"
							aria-hidden="true"></a>
					<a href="/admin/user/delete/{{this._id}}"
						onclick="return confirm('آیا از حذف کاربر اطمینان دارید؟')"><span
							class="glyphicon glyphicon-trash" aria-hidden="true"></a>
					{{/isAnAdmin}}
				</div>
			</div>
			{{/each}}
			</ul>
		</div>
	</div>
</div>
<script>$(document).ready(function () {
		$('.fixed-action-btn').floatingActionButton();
	});
</script>
{{> partials/menu}}