<div class="input-field col s12">
    <input type="email" class="customerDetails" id="shipEmail" name="shipEmail" minlength="5"
        value="{{session.customer.email}}" required>
    <label for="shipEmail">ایمیل</label>

</div>
<div class="input-field col s12">
    <input type="text" class=" customerDetails" id="shipFirstname" name="shipFirstname"
        value="{{session.customer.firstName}}" required>
    <label for="shipFirstname">نام</label>
</div>
<div class="input-field col s12">
    <input type="text" class="customerDetails" id="shipLastname" name="shipLastname"
        value="{{session.customer.lastName}}" required>
    <label for="shipLastname">نام خانوادگی</label>
</div>
<div class="input-field col s12">
    <input type="text" class=" customerDetails" id="shipAddr1" name="shipAddr1" value="{{session.customer.address1}}"
        required>
    <label for="shipAddr1">آدرس</label>
</div>
<div class="input-field col s12">
    <input type="text" class=" customerDetails" id="shipAddr2" name="shipAddr2" value="{{session.customer.address1}}">
    <label for="shipAddr2">آدرس دوم</label>
</div>
<div class="input-field col s12">
    <input type="text" class=" customerDetails" id="shipCountry" name="shipCountry" value="{{session.customer.country}}"
        required>
    <label for="shipCountry">کشور</label>
</div>
<div class="input-field col s12">
    <input type="text" class=" customerDetails" id="shipState" name="shipState" value="{{session.customer.state}}"
        required>
    <label for="shipState">استان</label>
</div>
<div class="input-field col s12">
    <input type="text" class=" customerDetails" id="shipPostcode" name="shipPostcode"
        value="{{session.customer.postcode}}" required>
    <label for="shipPostcode">شماره پستی</label>
</div>
<div class="input-field col s12">
    <input type="number" class=" customerDetails" id="shipPhoneNumber" name="shipPhoneNumber"
        value="{{session.customer.phone}}" required>
    <label for="shipPhoneNumber">شماره تماس</label>
</div>
<div class="input-field col s12">
    <textarea class=" customerDetails" id="orderComment" name="orderComment"></textarea>
    <label for="orderComment">یادداشت مورد نیاز</label>
</div>